# Ignore everything
*

# But don't ignore these specific files
!calculate_location.py
!detect_court.py
!detect_pose.py
!detect_pose_enhanced.py
!remove_artifact.py
!visualize.py
!resources/
!resources/**
!evaluation/**
!evaluation/
!install_dependencies.sh
!pipeline.py

# Don't ignore .gitignore itself
!.gitignore

